body {
    font-family: sans-serif;
    margin: 0px;
    border: 20px solid black;
    padding: 25px;
    background-color:lightslategrey;
}
.header-container {
    background-color:forestgreen;
    padding: 20px;
    text-align:center;
    border: 5px solid black;
}

.header-container img {
    width: 10%;
    height: auto;
}

.body-container {
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: start;
    align-content: start;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 25px;
    padding-right: 25px;
}
.score-container {
    background-color: aliceblue;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;
}

.rules-container {
    background-color: aliceblue;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;
}

/*
    Make sure cells dont overlap 
*/
#game-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(9, 50px);
    justify-content: center;
}

/*
    Line up reset button and text
*/ 
.game-controls {
    text-align: center;
    margin-top: 15px;
}

.footer-container {
    text-align: center;
    background-color: forestgreen;
    padding: 10px;
    margin-top: 30px;
    border: 5px solid black;
}
/*
    Cell size 
*/
.cell {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

/*
    Change colour of cell when revealed
*/
.cell.revealed {
    background-color: #ddd;
    cursor: default;
}

.bomb-icon,
.flag-icon {
    width: 90%;
    height: 90%;
    object-fit: contain;
    pointer-events: none;
}

/*
    Diffrent colour for number up to 8 (max possible)
*/
.num-1 {
    color: blue;
}

.num-2 {
    color: green;
}

.num-3 {
    color: red;
}

.num-4 {
    color: navy;
}

.num-5 {
    color: maroon;
}

.num-6 {
    color: teal;
}

.num-7 {
    color: black;
}

.num-8 {
    color: gray;
}

button {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}